<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style.css" />

    <script defer src="script.js"></script>
    <title>Carteirinha Estudantil</title>
  </head>
  <body>
    <div id="app">
      <h1 class="title">XPTO - Carteirinha do Estudante</h1>
      <div id="wrapper">
        <div id="form">
          <label for="name">Nome:</label>
          <input
            v-model="name"
            type="text"
            id="name"
            placeholder="Digite seu name"
          />

          <label for="registration">Matrícula:</label>
          <input
            v-model="registration"
            type="text"
            id="registration"
            placeholder="Digite sua matrícula"
          />
        </div>

        <div id="preview">
          <div id="card">
            <div id="datas-card">
              <span class="label-card">Nome:</span>
              <span class="data-card" v-test="name">{{name}}</span>

              <span class="label-card">Matrícula:</span>
              <span class="data-card" v-test="registration"
                >{{registration}}</span
              >
            </div>
            <div id="photo">Foto</div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            name: "",
            registration: "",
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
